<html>
    
    <head>
        <link rel="stylesheet" href="estilo.css">
    </head>

<body>
    <div class="header">
        <img src="imagenes/logo_main.png" id="logo">
         <div class="header-right">
             <a href="#home">Twitter</a>
             <a href="#contact">Mail</a>
             <a href="#about">Preguntas</a>
         </div>
    </div> 

    <div class="criterios">
        <table>
            <caption>CRITERIOS PERCEPTIVOS</caption>
            <tr>
                <th>Criterio </th>
                <th>Nivel</th>
                <th style="text-align:right">Observaciones</th>
            </tr>
            <tr>
                <td>criterio 1</td>
                <td><span class="dot"></span></td>
                <td class="comenta">comentario 1</td>
            </tr>
            <tr>
                <td>criterio 2</td>
                <td><span class="dot"></span></td>
                <td class="comenta">comentario 1</td>
            </tr>
            <tr>
                <td>criterio 3</td>
                <td><span class="dot"></span></td>
                <td class="comenta">comentario 1</td>
            </tr>
            <tr>
                <td>criterio 4</td>
                <td><span class="dot"></span></td>
                <td class="comenta">comentario 1</td>
            </tr>
            <tr>
                <td>criterio 5</td>
                <td><span class="dot"></span></td>
                <td class="comenta">comentario 1</td>
            </tr>
            <tr>
                <td>criterio 6</td>
                <td><span class="dot"></span></td>
                <td class="comenta">comentario 1</td>
            </tr>
            <tr>
                <td>criterio 7</td>
                <td><span class="dot"></span></td>
                <td class="comenta">comentario 1</td>
            </tr>

        </table>

    </div>

    <div class="practicas">
        <table>
            <caption>MEJORES PRACTICAS</caption>
            <tr>
                <th>icono de duplicado</th>
                <td>informacion duplicados</td>
            </tr>
            <tr>
                <th>icono de inadecuados</th>
                <td>informacion de inadecuados</td>
            </tr>
            <tr>
                <th>icono de prohibido</th>
                <td>informacion de codigo</td>
            </tr>
            <tr>
                <th>icono de atributos</th>
                <td>informacion de atributos</td>
            </tr>

        </table>
    </div>

    <div>
            <img src="imagenes/monito2.png" id="monito">
    <div class="puntuacion">
        <table>
            <tr>
                <th id="linea">Tu puntuacion es <span id="palabra">azul</span></th>
            </tr>
            <tr>
                <td id="tips">esto es tips genericos</td>
            </tr>
            
        </table>
    </div>
    </div>

    <div class="compartir">
        <table>
            <tr>
                <th id="amigos" colspan="3">COMPARTIR CON TUS AMIGOS</th>
                
            </tr>
            <tr>
                <th>icono de facebook</th>
                <th>icono de twitter</th>
                <th>icono de linkedin</th>
            </tr>
        </table>
    </div>

    <footer>
        <div class="footer">
           <p>@2018 Dr Scratch esta implementado con <span id="linkfooter">Hairball</span></p>
        </div>    
    </footer>



    </body>

  </html>