<html>
    
    <head>
        <link rel="stylesheet" href="estilo.css">
    </head>

<body>
    <div class="header">
        <a href="#default" class="logo">Dr Scratch</a>
         <div class="header-right">
             <a class="active" href="#home">Twitter</a>
             <a href="#contact">Mail</a>
             <a href="#about">Preguntas</a>
         </div>
    </div> 

    <div class="criterios">
        <table id="criterios">
            <caption>DIBUJO ANIMADO FASCIANTE</caption>
            <tr>
                <th>Criterio </th>
                <th>Nivel</th>
                <th>Observaciones</th>
            </tr>
            <tr>
                <td>criterio 1</td>
                <td><span class="dot"></span></td>
                <td>comentario 1</td>
            </tr>
            <tr>
                <td>criterio 2</td>
                <td><span class="dot"></span></td>
                <td>comentario 1</td>
            </tr>
            <tr>
                <td>criterio 3</td>
                <td><span class="dot"></span></td>
                <td>comentario 1</td>
            </tr>
            <tr>
                <td>criterio 4</td>
                <td><span class="dot"></span></td>
                <td>comentario 1</td>
            </tr>
            <tr>
                <td>criterio 5</td>
                <td><span class="dot"></span></td>
                <td>comentario 1</td>
            </tr>
            <tr>
                <td>criterio 6</td>
                <td><span class="dot"></span></td>
                <td>comentario 1</td>
            </tr>
            <tr>
                <td>criterio 7</td>
                <td><span class="dot"></span></td>
                <td>comentario 1</td>
            </tr>

        </table>

    </div>

    <div class="practicas">
        <table>
            <caption>MEJORES PRACTICAS</caption>
            <tr>
                <th>icono de duplicados</th>
                <td>informacion duplicados</td>
            </tr>
            <tr>
                <th>icono de inadecuados</th>
                <td>informacion de inadecuados</td>
            </tr>
            <tr>
                <th>icono de prohibido</th>
                <td>informacion de codigo</td>
            </tr>
            <tr>
                <th>icono de atributos</th>
                <td>informacion de atributos</td>
            </tr>

        </table>
    </div>


  </html>