/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    padding: 5px 10px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: rgb(182, 209, 236);
    color: white;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: rgb(182, 209, 236);
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

table {
    
    border-collapse: collapse;
    width: 100%;
    
    
}

th, td {
    padding: 8px;
    text-align: left;
    
}

tr:hover {
    page-break-after: avoid;
    text-align: center;
    background-color:#f5f5f5;
}

/* circulos de colores de nivel */
.dot {
    height: 25px;
    width: 25px;
    background-color: #345353;
    border-radius: 50%;
    display: inline-block;
  }

  /* la tabla de los criterios analizados */
  .criterios {
    position: fixed;
    right: 25px;
    bottom: 200px;
    width: 670px;
    padding: 5px;
    border: 2px solid yellow;
    border-radius: 3%;
  }

  /* la tabla de las mejores practicas*/
  .practicas {
    position: fixed;
    width: 500px;
    bottom: 40px;
    left: 25px;
    border: 2px solid yellow;
    padding: 5px;
    border-radius: 3%;
  }

  /* la tabla puntuacion */
  .puntuacion {
    position: fixed;
    bottom: 220px;
    left: 25;
    width: 500px;
    border: 2px solid yellow;
    padding: 5px;
    border-radius: 3%;
  }

  /* comentario en la tabla criterios */
  .comenta{
    text-align: right;
  }

  /* la tabla de compartir*/
  .compartir{
    position: fixed;
    bottom: 40px;
    right: 25px;
    width: 670px;
    height: 130px;
    border: 2px solid yellow;
    padding: 5px;
    border-radius: 3%;
  }

  /* aqui esta la configuracion del footer*/
  .footer { 
    position: fixed;
    width: 100%;
    bottom: 0px;
    text-align: center;
  }

  /* empiezan todos lo elementos id*/
  /* la palabra que esta en la tabla puntuacion */
  #palabra {
    color:blue;
  }

  /* la linea que esta en la tabla puntuacion al lado de imagen*/
  #linea {
    text-align : right;
  }

  #tips {
    background-color: rgb(236, 211, 173); 
    height: 150px;
    text-align: center;
    border-radius: 2%;
  }

  #logo {
    width: 20%;
    height: 10%;
  }

  #amigos {
    text-align: center;
  }

  #monito {
    position: absolute;
    left: 15;
    width: 150;
    height: 150;
    z-index: -1;
  }